#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin-left: 30px;
}

input {
  margin-left: 10px;
}

.interpretation {
  margin-top: 50px;
}

img {
  margin-top: 50px;
  width: 400px;
}

.loading {
  margin-top: 200px;
  color: #FFD700;
}

.dream {
  margin-top: 100px;
}

.share-button {
  margin-top: 75px;
  background-color: #adff2f;
  size: 50px;
}

.share-button:hover {
  background-color: #79B220;
}

.navbar-link {
  margin: 50px;
}
