.interpretation {
  margin-top: 1rem;
}

.loading {
  margin-top: 7rem;
  color: #FFD700;
}

.share-button {
  margin-top: 4rem;
  background-color: #adff2f;
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  min-width: 200px;
}

.share-button:hover {
  background-color: #79B220;
}

.shared-button {
  margin-top: 4rem;
  background-color: #436311;
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  min-width: 200px;
  cursor: default;
}

.shared-button:hover {
  background-color: #436311;
}

.posting-button {
  margin-top: 4rem;
  background-color: #79B220;
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  min-width: 200px;
  cursor: wait;
}

.posting-button:hover {
  background-color: #79B220;
}
