.interpretation {
  margin-top: 1rem;
}

.share-buttons-container {
  display: flex;
  justify-content: space-between;
}

.share-button {
  margin: 4rem;
  background-color: #adff2f;
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  min-width: 200px;
}

.share-button:hover {
  background-color: #79B220;
}

.shared-button {
  margin: 4rem;
  background-color: #436311;
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  min-width: 200px;
  cursor: default;
}

.shared-button:hover {
  background-color: #436311;
}

.posting-button {
  margin: 4rem;
  background-color: #79B220;
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  min-width: 200px;
  cursor: wait;
}

.posting-button:hover {
  background-color: #79B220;
}

.disabled-button {
  margin: 4rem;
  background-color: #5b5b5b;
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  min-width: 200px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled-button:hover {
  background-color: #5b5b5b;
}

.sign-in-needed {
  margin-top: 0.25rem;
  font-size: 0.60rem;
}
