.interpretation {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.interpretation-image {
  width: 85%;
}

.post-buttons-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.post-button {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #adff2f;
  min-width: fit-content;
}

.post-button:hover {
  background-color: #79B220;
}

.posted-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #436311;
  cursor: default;
}

.posted-button:hover {
  background-color: #436311;
}

.posting-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #79B220;
  cursor: wait;
}

.posting-button:hover {
  background-color: #79B220;
}

.disabled-button {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #595959;
  min-width: fit-content;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled-button:hover {
  background-color: #595959;
}

.failed-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #595959;
  cursor: default;
}

.failed-button:hover {
  background-color: #595959;
}

.sign-in-needed {
  margin-top: 0.25rem;
  font-size: 0.60rem;
}
