.authentication-form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  align-items: center;
}

.authentication-inputs {
  display: flex;
  margin-bottom: 1rem;
}

.email-input {
  margin-right: 1rem;
}

.login-button {
  background-color: green;
}

.signup-button {
  background-color: green;
}

.logout-button {
  background-color: red;
}

.login-button:hover {
  background-color: #004C00;
}

.signup-button:hover {
  background-color: #004C00;
}

.logout-button:hover {
  background-color: #990000;
}
