.dream {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.dream-image {
  width: 45%;
  margin-bottom: 2rem;
}

.dream-full-interpretation {
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .dream-image {
    width: 60%;
  }
}
